html,
body,
button {
  font-family: 'Palatino Linotype', 'Book Antiqua', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f0f2f5;
}

.container {
  width: 80%;
  height: 100%;
  text-align: center;
  background-color: whitesmoke;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title-container {
  background-color: navy;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 100%;
}

h1 {
  font-size: 50px;
  margin: 0;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #e5e5ec;
  color: #333;
  padding: 8px;
  font-size: 14px;

  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: rgb(236, 235, 239);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

li {
  color: #555;
  font-size: 15px;
  margin: 10px 0;
  list-style-type: none;
  text-align: left;
}

#fields-list {
  list-style: none;
  padding: 0;
}

.field-container {
  margin-bottom: 10px;
}

.skills-list {
  list-style: none;
  padding: 10px 0 10px 20px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-list li {
  padding: 5px 0;
  color: #666;
}
